<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.example.wrappednow" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WrappedNow</name>
    <description>Spotify Wrapped but whenever and wherever you want it</description>
    <author email="leon.heid@icloud.com, blanka.polgar@stud.bfstg.ch, giulia.fallati@stud.bfstg.ch" href="https://github.com/Lardomir, https://github.com/Blankaaaa, https://github.com/giuliafallati">
        Leon Heid, Blanka Polgar, Giulia Fallati
    </author>
    <content src="index.html" />

    <icon src="res/icon.png" />

    <platform name="android">
        <icon src="res/icon.png" density="ldpi" />      <!--ldpi ≈ 36×36 px -->
        <icon src="res/icon.png" density="mdpi" />      <!--mdpi ≈ 48×48 px -->
        <icon src="res/icon.png" density="hdpi" />      <!--hdpi ≈ 72×72 px -->
        <icon src="res/icon.png" density="xhdpi" />     <!--xhdpi ≈ 96×96 px -->
        <icon src="res/icon.png" density="xxhdpi" />    <!--xxhdpi ≈ 144×144 px -->
        <icon src="res/icon.png" density="xxxhdpi" />   <!--xxxhdpi ≈ 192×192 px -->
        <preference name="AndroidTheme" value="@android:style/Theme.DeviceDefault.NoActionBar" />
        <hook src="scripts/apply_android_fixes.js" type="after_platform_add" />
    </platform>

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
